body {
    background-image: url(../images/background.jpeg);
}

.content-area {
    margin-top: 3%;
    background-color: rgb(255, 255, 255, .6);
    padding-bottom: 15px;
}

.social {
    width: 40px;
    height: 40px;
}

#headshot {
    max-width: 80%;
    max-height: 80%
}

#techHeader {
    display: inline-block;
}

.pageTitle {
    float: left;
}

.headingArea {
    padding: 15px;
    color: rgb(150, 171, 169);
    text-align: center;
}

#tech li {
    list-style: none;
    text-align: center;
    font-size: 25px;
}

.card {
    background: none;
    border: none;
    text-align: center;
    margin-left: 15px;
}

.buttonCenter {
    justify-content: center;
}